<ion-header>
  <ion-toolbar>
    <ion-title> Weather </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-input type="text" #location></ion-input>
      <ion-button (click)="onSelect(location.value)"><ion-icon name="search"></ion-icon></ion-button>
    </ion-item>

    <!-- <ion-searchbar debounce="100" (ionChange)="onChange($event)"></ion-searchbar>
    <ion-list *ngFor="let item of items">
      <ion-item>{{item}}</ion-item>
    </ion-list> -->
  </form>

  <ion-card *ngIf="weatherData">
    <ion-card-header >
      <ion-card-subtitle>{{weatherData.location.country}}</ion-card-subtitle>
      <ion-card-title>{{locationName}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Feels like {{temp}}
    </ion-card-content>
  </ion-card>

</ion-content>
